@page "/admin/products"
@page "/admin"
@inherits OwningComponentBase<INewsRepository>

<table class="table table-sm table-striped table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @if (ProductData?.Count() > 0)
    {
        @foreach (var p in ProductData)
        {
            <tr>
                <td>@p.NewsId</td>
                <td>@p.NewsTitle</td>
                <td>
                    <NavLink class="btn btn-info btn-sm"
                             href="@GetDetailsUrl(p.NewsId)">
                        Details
                    </NavLink>
                    <NavLink class="btn btn-warning btn-sm"
                             href="@GetEditUrl(p.NewsId)">
                        Edit
                    </NavLink>
                    <button class="btn btn-danger btn-sm"
                            @onclick="@(e => DeleteProduct(p))">
                        Delete
                    </button>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5" class="text-center">No News</td>
        </tr>
    }
    </tbody>
</table>

<NavLink class="btn btn-primary" href="/admin/products/create">Create</NavLink>

@code {

    public INewsRepository Repository => Service;

    public IEnumerable<News> ProductData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        ProductData = await Repository.News.ToListAsync();
    }

    public async Task DeleteProduct(News p)
    {
        Repository.DeleteNews(p);
        await UpdateData();
    }

    public string GetDetailsUrl(long id)
    {
        return $"/admin/products/details/{id}";
    }

    public string GetEditUrl(long id)
    {
        return $"/admin/products/edit/{id}";
    }

}